$button-primary: rgb(247, 220, 111);

.trip-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 15rem;

  input {
    width: 10rem;
    height: 25px;
  }

  .save-btn {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: $button-primary;
    height: 30px;
    width: 6rem;
    border-radius: 3px;
  }
  margin-left: 41%;
  margin-top: 2rem;
  box-shadow: 0 3px 7px #333;
}
